<div class="row">
  <div class="text-right mt-0 pull-right">
    <button class="btn bg-link icon-btn">
      <span class="darken"><i class="icon icon-minus text-small"/></span>
      <span>Remove</span>
    </button>
  </div>
</div>
<div class="row row-half">
  {{#each questions as |question index|}}
    {{input-answer-row
        classNames="col span-6"
        question=question
        answer=question.answer
        namespaceId=namespaceId
    }}
  {{/each}}
</div>