<section class="header clearfix">
  <div class="pull-left pt-10"><h1>{{t 'hooksPage.header'}}</h1></div>
  <div class="right-buttons">
    {{#link-to "authenticated.cluster.hooks.new" classNames="btn btn-sm bg-primary"}}Add Receiver{{/link-to}}
  </div>
</section>

{{hook/hook-table model=model
}}
